Repository shikharbhardwaj/infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-configs, generate-kustomize-configs

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: validate-configs
    name: Validate Config Files
    entry: python deployment/automation/validate-service-configs.py
    language: python
    language_version: python3.10
    additional_dependencies:
      - jsonschema==4.23.0
    types: [json]
    files: ^.*config\.json$
  - id: generate-kustomize-configs
    name: Generate Kustomize Configs
    entry: deployment/automation/test-gen-configs.sh
    language: script
    files: ^deployment/kubernetes/.*\.yml$

update omada exporter image
  deployment/kubernetes/kustomize/omada-exporter/base/deployment.yml
Due: generate-kustomize-configs

fix omada scrape
  deployment/kubernetes/kustomize/omada-exporter/base/service.yml
Due: generate-kustomize-configs

Update omada exporter image
  deployment/kubernetes/kustomize/omada-exporter/base/deployment.yml
Due: generate-kustomize-configs

Add paperless ngx
  .pre-commit-config.yaml
  deployment/kubernetes/helm-values/cloudnative-pg/clusters/paperless.yml
  deployment/kubernetes/helm-values/open-webui/README.md
  deployment/kubernetes/helm-values/open-webui/ingress.yml
  deployment/kubernetes/kustomize/homepage/base/configmap.yml
  deployment/kubernetes/kustomize/letsencrypt/overlays/open-webui/certificate_host.yml
  deployment/kubernetes/kustomize/letsencrypt/overlays/open-webui/kustomization.yml
  deployment/kubernetes/kustomize/main-ingress/base/ingress.yml
  deployment/kubernetes/kustomize/paperless-ngx/base/kustomization.yml
  deployment/kubernetes/kustomize/paperless-ngx/base/persistentvolume.yml
  deployment/kubernetes/kustomize/paperless-ngx/base/persistentvolumeclaim.yml
  deployment/kubernetes/kustomize/paperless-ngx/base/postgres.yml
  deployment/kubernetes/kustomize/paperless-ngx/base/secret.yml
  deployment/kubernetes/kustomize/paperless-ngx/base/service.yml
  deployment/kubernetes/kustomize/paperless-ngx/base/statefulset.yml
  deployment/kubernetes/kustomize/paperless-ngx/config.json
  deployment/kubernetes/kustomize/paperless-ngx/overlays/dev/kustomization.yml
  deployment/kubernetes/tools/group_vars/all/vault.yml
Due: validate-configs, generate-kustomize-configs

Tailscale operator
  deployment/kubernetes/helm-values/tailscale/README.md
  deployment/kubernetes/helm-values/tailscale/tailscale-operator/.helmignore
  deployment/kubernetes/helm-values/tailscale/tailscale-operator/Chart.yaml
  deployment/kubernetes/helm-values/tailscale/tailscale-operator/templates/NOTES.txt
  deployment/kubernetes/helm-values/tailscale/tailscale-operator/templates/_helpers.tpl
  deployment/kubernetes/helm-values/tailscale/tailscale-operator/templates/oauth-credentials-sealed.json
  deployment/kubernetes/helm-values/tailscale/tailscale-operator/templates/tests/test-connection.yaml
  deployment/kubernetes/helm-values/tailscale/tailscale-operator/values.yaml
Due: none

Update tailscale-operator version to latest stable
  deployment/kubernetes/helm-values/tailscale/tailscale-operator/Chart.yaml
Due: none

Update tailscale secret with corret name
  deployment/kubernetes/helm-values/tailscale/tailscale-operator/templates/oauth-credentials-sealed.json
Due: none

Add sealed secrets
  deployment/kubernetes/helm-values/sealed-secrets/README.md
Due: none

Add postgres clusters to CD
  deployment/kubernetes/Makefile
  deployment/kubernetes/helm-values/coder-v2/secret.yml
  deployment/kubernetes/kustomize/postgres-clusters/README.md
  deployment/kubernetes/kustomize/postgres-clusters/base/coder/cluster.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/coder/kustomization.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/coder/secret.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/kustomization.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/linkwarden/cluster.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/linkwarden/kustomization.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/linkwarden/secret.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/paperless/cluster.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/paperless/kustomization.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/paperless/secret.yml
  deployment/kubernetes/kustomize/postgres-clusters/config.json
  deployment/kubernetes/kustomize/postgres-clusters/overlays/cloudnative-pg/kustomization.yml
  deployment/kubernetes/tools/group_vars/all/vault.yml
Due: validate-configs, generate-kustomize-configs

Add linkwarden
  deployment/kubernetes/kustomize/linkwarden/base/kustomization.yml
  deployment/kubernetes/kustomize/linkwarden/base/secret.yml
  deployment/kubernetes/kustomize/linkwarden/base/secret2.yml
  deployment/kubernetes/kustomize/linkwarden/base/service.yml
  deployment/kubernetes/kustomize/linkwarden/base/statefulset.yml
  deployment/kubernetes/kustomize/linkwarden/config.json
  deployment/kubernetes/kustomize/linkwarden/overlays/dev/kustomization.yml
  deployment/kubernetes/kustomize/main-ingress/base/ingress.yml
  deployment/kubernetes/tools/group_vars/all/vault.yml
Due: validate-configs, generate-kustomize-configs

Add linkwarden to homepage
  deployment/kubernetes/kustomize/homepage/base/configmap.yml
  deployment/kubernetes/tools/group_vars/all/vault.yml
Due: generate-kustomize-configs

Remove email
  spike/foundation-images/py310/pyproject.toml
Due: none

Setup kubectl with specific version
  .github/workflows/cd.yml
Due: none

Add main homepage
  deployment/kubernetes/kustomize/homepage/base/clusterrole.yml
  deployment/kubernetes/kustomize/homepage/overlays/dev/clusterrolebinding.yml
  deployment/kubernetes/kustomize/homepage/overlays/prod/clusterrolebinding.yml
  deployment/kubernetes/kustomize/homepage/overlays/prod/configmap.yml
  deployment/kubernetes/kustomize/homepage/overlays/prod/kustomization.yml
  deployment/kubernetes/kustomize/letsencrypt/base/certificate.yml
  deployment/kubernetes/kustomize/letsencrypt/overlays/prod/certificate_host.yml
  deployment/kubernetes/kustomize/letsencrypt/overlays/prod/kustomization.yml
  deployment/kubernetes/kustomize/main-ingress/overlays/prod/ingress.yml
  deployment/kubernetes/kustomize/main-ingress/overlays/prod/kustomization.yml
  deployment/kubernetes/tools/group_vars/all/vault.yml
Due: generate-kustomize-configs

Update linkwarden to make link preservation work
  deployment/kubernetes/kustomize/linkwarden/base/statefulset.yml
  spike/linkwarden/Dockerfile
Due: generate-kustomize-configs

Add obsidian-couchdb
  README.md
  deployment/kubernetes/kustomize/main-ingress/base/ingress.yml
  deployment/kubernetes/kustomize/obsidian-couchdb/base/kustomization.yml
  deployment/kubernetes/kustomize/obsidian-couchdb/base/secret.yml
  deployment/kubernetes/kustomize/obsidian-couchdb/base/service.yml
  deployment/kubernetes/kustomize/obsidian-couchdb/base/statefulset.yml
  deployment/kubernetes/kustomize/obsidian-couchdb/config.json
  deployment/kubernetes/kustomize/obsidian-couchdb/overlays/dev/kustomization.yml
  deployment/kubernetes/tools/group_vars/all/vault.yml
  docs/diagrams/homelab-network-v3.excalidraw.png
Due: validate-configs, generate-kustomize-configs

Add power monitoring data scrape
  deployment/kubernetes/kustomize/observability/base/scrape_configs/kustomization.yml
  deployment/kubernetes/kustomize/observability/base/scrape_configs/shelly-plug-monitor.yml
  deployment/kubernetes/kustomize/shelly-plug-monitor/base/service.yml
Due: generate-kustomize-configs

Add proxmox template docs
  docs/proxmox-template-setup.md
  docs/vendor-example.yml
Due: none

Persist couchdb settings
  deployment/kubernetes/kustomize/obsidian-couchdb/base/statefulset.yml
Due: generate-kustomize-configs

Add homepage_allowed_hosts
  deployment/kubernetes/kustomize/homepage/base/deployment.yml
Due: generate-kustomize-configs

Add pre-commit to make sure all kustomize apps are deployed
  .pre-commit-config.yaml
  deployment/automation/check-kustomize-configs.sh
Due: none

Add support for multiple environments
  deployment/automation/list-live-targets.py
  deployment/automation/migrate-configs.py
  deployment/automation/service.schema.json
  deployment/kubernetes/kustomize/autotrim-pv/config.json
  deployment/kubernetes/kustomize/csgo-dedicated-server/config.json
  deployment/kubernetes/kustomize/deluge/config.json
  deployment/kubernetes/kustomize/docker-registry/config.json
  deployment/kubernetes/kustomize/heimdall/config.json
  deployment/kubernetes/kustomize/home-assistant/config.json
  deployment/kubernetes/kustomize/homepage/config.json
  deployment/kubernetes/kustomize/immich-pv/config.json
  deployment/kubernetes/kustomize/kavita/config.json
  deployment/kubernetes/kustomize/letsencrypt/config.json
  deployment/kubernetes/kustomize/linkwarden/config.json
  deployment/kubernetes/kustomize/main-ingress/config.json
  deployment/kubernetes/kustomize/minio/config.json
  deployment/kubernetes/kustomize/mlflow/config.json
  deployment/kubernetes/kustomize/observability/config.json
  deployment/kubernetes/kustomize/obsidian-couchdb/config.json
  deployment/kubernetes/kustomize/omada-exporter/config.json
  deployment/kubernetes/kustomize/paperless-ngx/config.json
  deployment/kubernetes/kustomize/postgres-clusters/config.json
  deployment/kubernetes/kustomize/postgres-mlflow/config.json
  deployment/kubernetes/kustomize/prowlarr/config.json
  deployment/kubernetes/kustomize/radarr/config.json
  deployment/kubernetes/kustomize/readarr/config.json
  deployment/kubernetes/kustomize/shelly-plug-monitor/config.json
  deployment/kubernetes/kustomize/sonarr/config.json
  deployment/kubernetes/kustomize/truecommand/config.json
  deployment/kubernetes/kustomize/ttyd/config.json
  deployment/kubernetes/kustomize/tuya-monitor/config.json
  deployment/kubernetes/kustomize/vaultwarden/config.json
  deployment/kubernetes/kustomize/wazuh/config.json
Due: validate-configs

Add langfuse
  deployment/kubernetes/helm-values/langfuse/README.md
  deployment/kubernetes/helm-values/langfuse/ingress.yml
  deployment/kubernetes/helm-values/langfuse/secret-common.yml
  deployment/kubernetes/helm-values/langfuse/secret-postgres.yml
  deployment/kubernetes/helm-values/langfuse/values.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/kustomization.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/langfuse/cluster.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/langfuse/kustomization.yml
  deployment/kubernetes/kustomize/postgres-clusters/base/langfuse/secret.yml
  deployment/kubernetes/tools/group_vars/all/vault.yml
Due: generate-kustomize-configs

Add traefik container quadlet
  deployment/containers/traefik/.gitignore
  deployment/containers/traefik/dynamic.yml
  deployment/containers/traefik/env.sample
  deployment/containers/traefik/traefik.container
  deployment/containers/traefik/traefik.yml
Due: none

Add container configs
  .gitignore
  deployment/containers/install
  deployment/containers/traefik/.gitignore
  deployment/containers/traefik/config.yml
  deployment/containers/traefik/dynamic.yml
  deployment/containers/traefik/env.sample
  deployment/containers/traefik/traefik.container
  deployment/containers/traefik/traefik.yml
  deployment/containers/uptime-kuma/data/empty-file-so-git-tracks-this-dir.txt
  deployment/containers/uptime-kuma/uptime-kuma.container
  requirements.in
  requirements.txt
Due: none

Add secrets-scaffold
  deployment/containers/install
  deployment/containers/secrets-scaffold.yml
Due: none

Migrate from digitalocean
  deployment/containers/install
  deployment/containers/traefik/dynamic.yml
  deployment/containers/uptime-kuma/uptime-kuma.container
Due: none

Update homepage
  deployment/kubernetes/kustomize/homepage/base/configmap.yml
Due: generate-kustomize-configs

Fix lab homepage
  deployment/kubernetes/kustomize/homepage/overlays/prod/configmap.yml
Due: generate-kustomize-configs

Add tdarr
  deployment/kubernetes/helm-charts/tdarr/.helmignore
  deployment/kubernetes/helm-charts/tdarr/Chart.yaml
  deployment/kubernetes/helm-charts/tdarr/templates/NOTES.txt
  deployment/kubernetes/helm-charts/tdarr/templates/_helpers.tpl
  deployment/kubernetes/helm-charts/tdarr/templates/deployment.yaml
  deployment/kubernetes/helm-charts/tdarr/templates/hpa.yaml
  deployment/kubernetes/helm-charts/tdarr/templates/ingress.yaml
  deployment/kubernetes/helm-charts/tdarr/templates/pvc.yaml
  deployment/kubernetes/helm-charts/tdarr/templates/service.yaml
  deployment/kubernetes/helm-charts/tdarr/templates/serviceaccount.yaml
  deployment/kubernetes/helm-charts/tdarr/templates/tests/test-connection.yaml
  deployment/kubernetes/helm-charts/tdarr/values.yaml
Due: none

Add ingress to tdarr
  deployment/kubernetes/helm-charts/tdarr/templates/ingress.yaml
  deployment/kubernetes/helm-charts/tdarr/values.yaml
  deployment/kubernetes/kustomize/letsencrypt/overlays/tdarr/certificate_host.yml
  deployment/kubernetes/kustomize/letsencrypt/overlays/tdarr/kustomization.yml
Due: generate-kustomize-configs

Allow existingClaim for media PVC
  deployment/kubernetes/helm-charts/tdarr/Chart.yaml
  deployment/kubernetes/helm-charts/tdarr/templates/NOTES.txt
  deployment/kubernetes/helm-charts/tdarr/templates/deployment.yaml
  deployment/kubernetes/helm-charts/tdarr/templates/pvc.yaml
  deployment/kubernetes/helm-charts/tdarr/values.yaml
Due: none

Update tdarr and add media-pvc
  deployment/kubernetes/helm-charts/tdarr/templates/hpa.yaml
  deployment/kubernetes/helm-charts/tdarr/templates/pvc.yaml
  deployment/kubernetes/helm-charts/tdarr/templates/statefulset.yaml
  deployment/kubernetes/helm-charts/tdarr/values.yaml
  deployment/kubernetes/kustomize/media-pv/base/kustomization.yml
  deployment/kubernetes/kustomize/media-pv/base/persistentvolume.yml
  deployment/kubernetes/kustomize/media-pv/base/persistentvolumeclaim.yml
  deployment/kubernetes/kustomize/media-pv/config.json
  deployment/kubernetes/kustomize/media-pv/overlays/tdarr/kustomization.yml
Due: validate-configs, generate-kustomize-configs

Fix
  deployment/kubernetes/kustomize/media-pv/base/kustomization.yml
Due: generate-kustomize-configs

Fix tdarr chart
  deployment/kubernetes/helm-charts/tdarr/templates/NOTES.txt
  deployment/kubernetes/helm-charts/tdarr/templates/statefulset.yaml
  deployment/kubernetes/helm-charts/tdarr/values.yaml
  deployment/kubernetes/kustomize/tdarr-media-pv/base/kustomization.yml
  deployment/kubernetes/kustomize/tdarr-media-pv/base/persistentvolume.yml
  deployment/kubernetes/kustomize/tdarr-media-pv/base/persistentvolumeclaim.yml
  deployment/kubernetes/kustomize/tdarr-media-pv/config.json
  deployment/kubernetes/kustomize/tdarr-media-pv/overlays/tdarr/kustomization.yml
Due: validate-configs, generate-kustomize-configs

Add crafty container
  deployment/containers/crafty/README.md
  deployment/containers/crafty/config.yml
  deployment/containers/crafty/crafty.container
Due: none

Crafty works
  deployment/containers/crafty/backups/empty-file-so-git-tracks-this-dir.txt
  deployment/containers/crafty/config/empty-file-so-git-tracks-this-dir.txt
  deployment/containers/crafty/crafty.container
  deployment/containers/crafty/import/empty-file-so-git-tracks-this-dir.txt
  deployment/containers/crafty/logs/empty-file-so-git-tracks-this-dir.txt
  deployment/containers/crafty/servers/empty-file-so-git-tracks-this-dir.txt
Due: none

Add crafty kustomize specs
  deployment/kubernetes/kustomize/crafty/base/ingressroute.yml
  deployment/kubernetes/kustomize/crafty/base/kustomization.yml
  deployment/kubernetes/kustomize/crafty/base/service.yml
  deployment/kubernetes/kustomize/crafty/base/statefulset.yml
  deployment/kubernetes/kustomize/crafty/config.json
  deployment/kubernetes/kustomize/crafty/overlays/dev/kustomization.yml
Due: validate-configs, generate-kustomize-configs

Fix homepage to make config location writable
  deployment/kubernetes/kustomize/homepage/base/deployment.yml
Due: generate-kustomize-configs

Add openspeedtest
  deployment/kubernetes/kustomize/main-ingress/base/ingress.yml
  deployment/kubernetes/kustomize/openspeedtest/base/deployment.yml
  deployment/kubernetes/kustomize/openspeedtest/base/kustomization.yml
  deployment/kubernetes/kustomize/openspeedtest/base/service.yml
  deployment/kubernetes/kustomize/openspeedtest/config.json
  deployment/kubernetes/kustomize/openspeedtest/overlays/dev/kustomization.yml
Due: validate-configs, generate-kustomize-configs
